<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="echoBehaviour">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="RelyingParty.EchoService" behaviorConfiguration="echoBehaviour">
                <endpoint address="https://127.0.0.1:443/IssuedTokenUsingTls" binding="ws2007FederationHttpBinding" bindingConfiguration="WsFedBinding" contract="RelyingParty.IEchoService">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <!-- Requires: netsh http add urlacl url=http://+:8080/ user=... -->
                        <add baseAddress="https://127.0.0.1:443/" />
                        <add baseAddress="http://127.0.0.1:8080/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="WsFedBinding">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false">
                            <issuer address="https://issueraddress/adfs/services/trust/13/usernamemixed" binding="customBinding" bindingConfiguration="IssuerIssuedToken" />
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>

            <customBinding>
                <binding name="IssuerIssuedToken">
                    <security authenticationMode="UserNameOverTransport"
                                messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                        <issuedTokenParameters>

                            <issuer address="https://issueraddress/adfs/services/trust/13/usernamemixed"
                                    binding="ws2007HttpBinding" bindingConfiguration="IssuerUsernameMixed"></issuer>
                        </issuedTokenParameters>
                    </security>
                    <httpsTransport />
                </binding>
            </customBinding>

            <ws2007HttpBinding>
                <binding name="IssuerUsernameMixed">
                    <security mode="Transport">
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
    </system.serviceModel>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>