<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RelyingParty.Calculator" behaviorConfiguration="calculatorBehaviour">
        <endpoint address="CalculatorService" binding="ws2007FederationHttpBinding" bindingConfiguration="WsFedBinding" contract="RelyingParty.ICalculator">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!-- Requires: netsh http add urlacl url=http://+:8080/ user=... -->
            <add baseAddress="https://localhost:8081/" />
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WsFedBinding">
          <security mode="TransportWithMessageCredential">
            <message issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <issuer address="https://[issueraddress]/adfs/services/trust/13/usernamemixed"></issuer>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
     
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>