<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_CalculatorService">
          <security mode="TransportWithMessageCredential">
            <message issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <issuer address="https://issueraddress/adfs/services/trust/13/usernamemixed" binding="customBinding" bindingConfiguration="IssuerIssuedToken" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>

      <customBinding>
        <binding name="IssuerIssuedToken">
          <security authenticationMode="UserNameOverTransport"
                    messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
            <issuedTokenParameters>

              <issuer address="https://issueraddress/adfs/services/trust/13/usernamemixed"
                      binding="ws2007HttpBinding" bindingConfiguration="IssuerUsernameMixed"></issuer>
            </issuedTokenParameters>
          </security>
          <httpsTransport />
        </binding>
      </customBinding>

      <ws2007HttpBinding>
        <binding name="IssuerUsernameMixed">
          <security mode="Transport">
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    
    <client>
      <endpoint address="https://localhost:8081/CalculatorService"
          binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_CalculatorService"
          contract="CalculatorService" name="CalculatorService" />
    </client>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>